@font-face {
  font-family: PokeFont;
  src: url(https://raw.githubusercontent.com/mariusschulz/react-pokedex/master/public/pokemon_gb.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 14px;
}

body {
  background: #f5f5f5;
}

.pokedex {
  background: #ab0712;
  border-radius: 16px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  color: white;
  display: grid;
  font-family: PokeFont, Menlo, Monaco, Consolas, monospace;
  gap: 32px;
  grid-template-columns: 300px 288px 1fr;
  grid-template-rows: 1fr 288px;
  height: 600px;
  line-height: 1.5rem;
  margin: auto;
  margin-top: calc(50vh - 300px);
  max-width: 1024px;
  padding: 32px;
}

.pokedex-list {
  background: black;
  border: 2px solid white;
  grid-row-start: span 2;
  list-style-type: none;
  overflow: scroll;
  padding: 16px;
}

.pokedex-list button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: PokeFont, Menlo, Monaco, Consolas, monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 16px 16px 8px 16px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.pokedex-list button:hover,
.pokedex-list button:active,
.pokedex-list button.active {
  background: #666;
  outline: none;
}

.pokedex-description {
  background: black;
  border: 2px solid white;
  font-size: 12px;
  grid-column-start: span 2;
  line-height: 1.5rem;
  overflow: scroll;
  padding: 32px;
}

.pokedex-image {
  background: white;
}

.pokedex-image img {
  height: 288px;
  image-rendering: pixelated;
  width: 288px;
}

.pokedex-summary {
  background: black;
  border: 2px solid white;
  padding: 32px;
}

.pokedex-summary h1 {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.pokedex-summary p {
  margin-top: 1rem;
}
